<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>

    <form action="/nouveaublog" method="post">

        <label>Sujet</label>
        <input type="text" name="sujet">
        <label>Auteur</label>
        <input type="text" name="auteur">
        <label>Description</label>
        <input type="text" name="description" id="description">
        <label>Message</label>
        <textarea name="message" id="message"></textarea>

        <input type="submit">
    </form>
    
</body>
</html>