<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewCar</title>
</head>
<body>

    <nav>
        <a href="/allcars">Allcars</a>
        <a href="/addcar"> Newcars</a>
    </nav>

    <form action="/newcar" method="post">

        <label>Marque</label>
        <input type="text" name="marque">
        <label>Modél</label>
        <input type="text" name="model">
        <label>Couleur</label>
        <input type="text" name="couleur" id="couleur">
        <label>Description</label>
        <textarea name="message" id="description"></textarea>

        <input type="submit">
    </form>
    
    
</body>
</html>